@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
a{
  text-decoration: none !important;
  outline: none !important;
  color:rgba(255, 255, 255, 0.6) !important;
}
a:hover{
  color: #FFF !important;
}

p{
  margin: 0 !important;
  padding: 0 !important;
}
ul,ol{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}


body {
       font-family: 'Poppins', sans-serif;
}


h1 {
     font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

/* ========1rem =16px====== */

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

:root
{
  --global-yellow: #f6fa00;
}

/* ############ utlity###################### */
.yellow_dot
{
    width: 5px;
    display: inline-block; 
    margin: 0px 2px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--global-yellow);
    color: var(--global-yellow);
}
.yellow_btn
{
    background-color:var(--global-yellow);
    color: #FFF;
    text-align: center;
    border-color: #f6fa00;
    width: 150px;
    height: 40px;
    outline:var(--global-yellow) !important;
    border-radius: 5px;
}

/* 
================================
header-section
================================ */


.navbar-brand 
{ 
    color:#FFF !important;
    font-weight: 700;
}

.banner_section.swiper {
 
    height: 70vh;
    /* z-index: 1000; */

  }

  .banner_section .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* z-index: 10000; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .banner_section .swiper-slide img {
    display: block;
    /* z-index: 1000; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner_section .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .banner_section .swiper-button-prev
  {
    color:#FFF;
    background-color:  rgba(255, 255, 255, 0.185);
    border-radius:90%;
    z-index: 999;
     width: 55px;
    height: 55px;
    cursor: pointer !important;
  }
 
  .banner_section .swiper-button-next
  {
    color:#FFF;
    background-color:  rgba(255, 255, 255, 0.185);
    border-radius:90%;
    z-index: 1000;
     width: 55px;
    height: 55px;
    cursor: pointer !important;
  }
  .carousel-item::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.24),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    background: -webkit-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
    left: 0;

}
.carousel-item
{
  height: 90vh !important; 

}
.hero
{
  position: relative;

}
.item_1
{
  background-image: url('/assets/img/hero-carousel/hero-carousel-1.jpg') !important;
  max-width: 100% !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.item_2
{
  background-image: url('/assets/img/hero-carousel/hero-carousel-2.jpg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.item_3
{
  background-image: url('/assets/img/hero-carousel/hero-carousel-3.jpg')  !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.item_4
{
  background-image: url('/assets/img/hero-carousel/hero-carousel-4.jpg')  !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.item_5
{
  background-image: url('/assets/img/hero-carousel/hero-carousel-5.jpg')  !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner_content_head
{
  display: flex !important;
  align-items: center !important;
}
.banner_content
{
  color: #FFF !important;
  text-align: center;
  left: 380px !important;
  top:110px !important;
  position: absolute;
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1 !important;
  max-width: 500px !important;
  width: 100% !important;
}

.trans_yel_btn
{
  border: 2px solid var(--global-yellow);
  border-radius: 25px ;
  color: #FFF !important;
  padding: 10px 30px !important;
  background: rgba(0, 0, 0, 0.075);
}
.banner_haeding  h1{
  font-weight: 600 !important;
  font-size: 50px !important;
  
}

/* .navbar-toggler
{
  width:20px !important;
  padding-left: 10px !important;
} */

.banner_haeding h1::after
{
  
    display: block;
    content: "";
    position: absolute;
  justify-content: center;
  align-items: center;
  width: 75px;
  left: 230px;
  height: 3px !important;
  background-color: rgb(255, 208, 0);
}
.navbar
{
  position: absolute;
  /* z-index: 999; */
}
 
 .nav-link {
  font-size: 1rem !important;
}
.navbar-nav > li > a:hover
{
  color: #e6a10f !important;
 
}
  .navbar-brand
  {
    font-size: 1.5rem !important;
  }

.header_section
{
  z-index: 10 !important;
  position: absolute;
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0;
}

  /* =================
  Contract-section
====================== */
.card_padding
{
  padding: 25px 25px;
  min-height:600px;
}
#contract_section
{
    background-color: rgba(230, 230, 230, 0.918) !important;
}
.card_img_1
{
  background-image: url('/assets/img/constructions-1.jpg');
  background-position: center;
  min-height: 300px;
  background-size: cover;
  
}
.card_img_2
{
  background-image: url('/assets/img/constructions-2.jpg');
  background-position: center;
  background-size: cover;
  min-height: 300px;
  
}
.card_img_3
{
  background-image: url('/assets/img/constructions-3.jpg');
  background-position: center;
  min-height: 300px;
  background-size: cover;
  
}
.card_img_4
{
  background-image: url('/assets/img/constructions-4.jpg');
  background-position: center;
  background-size: cover;
  min-height: 300px;
  
}
.contract_conatiner
{
    padding: 50px 0;
}
.contract_conatent
{
    padding: 0 25px;
}
/* construction-section */
.construct_conatiner
{
  padding: 50px 0;
}
.constrution_heading
{
  display: flex;
  margin: auto;
text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.constrution_heading p{
  padding: 0 25px;
}

.bg_image
{
  min-height: 330px;
  max-width: 100%;
  background-size: cover;
  background-position: center;
}
.card_content
{
    display:flex ;
    justify-content:center ;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 5px 15px;
}
.card-img
{
  height: -webkit-fill-available;
  width: 100%;
}
.costruction_cards
{
  padding: 25px 0 !important; 
}
.service_cards
{
    display: flex;
    justify-content: center;
    padding: 25px 5px  !important;

}
.cards_show
{
  display: flex;
  
}

/* ===========================
services
========================== */
#services
{
  background-color: rgba(230, 230, 230, 0.918) !important;
}
.service_container
{
  padding: 50px 0 !important;
}
.service_card
{
  padding: 25px 25px !important;
}
.font_icon
{
  font-size: 40px !important;
  padding-left: 20px !important;
}
/* ===================
feature
================== */
.feature_container
{
  padding: 50px 0 !important;
}
.feature_content h4
{
  font-weight: 700 !important;
  font-size: 29px !important; 
  color: rgb(126, 126, 126);
  padding: 10px 0 !important;
}
.feature_content h4::after
{
  display: block;
    content: "";
    position: absolute;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-top:10px;
  height: 3px !important;
  background-color: rgb(255, 208, 0);
}
.feture_heading p{
  margin: 20px 0 !important;
}
.bold_para
{
  font-weight: 700 !important;
  font-size: 18px !important;
  margin-bottom: 7px !important;
}
.text_feature
{
padding: 25px 0px !important;
}
.unbold_para 
{
font-weight: 300 !important;
  font-size: 15px !important;
}
.feature_image
{

  background-image: url('/assets/img/alt-services.jpg') ;
  background-position: center center;
  background-size: cover;
  height:100% !important;
 
}
.feature_image1
{
  background-image: url('/assets/img/alt-services-2.jpg') ;
  background-position: center center;
  background-size: cover;
  height:100% !important;
}
.worst
{
  display: block;
  background-image: url('/assets/img/alt-services-2.jpg') ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100% !important;
 
}
.feature_content
{
  padding: 0 50px !important;
}
.squre_box 
{
  width: 40px !important;
  height: 40px !important;
  background-color: #FFF !important;
  padding-top: 5px !important;
  position:absolute;
  right: 540px;
}
.squre_box1
{
  width: 40px !important;
  height: 40px !important;
  background-color: #FFF !important;
  padding-top: 5px !important;
  position:absolute;
  left: 110px;
}
.squre_box1 i::before {
  color: #ffee00 !important;
  box-shadow: 0px 2px 30px rgb(0 0 0 / 14%);
  font-size: 20px;
  content: '\f560' !important;
  width: 40px !important;
  height: 40px !important;
  font-family: "FontAwesome";
  display: flex;
  justify-content: center;
  align-items: center;
}
.squre_box i::before{
  color:  #ffee00 !important;
 box-shadow:0px 2px 30px rgba(0, 0, 0, 0.144);
  font-size: 20px;
  content: '\f560' !important;
  width: 40px !important;
  height: 40px !important;
  font-family: "FontAwesome";
  display: flex;
  justify-content: center;
  align-items: center;
}
.worst_box 
{
  width: 40px !important;
  height: 40px !important;
  background-color: #FFF !important;
  padding-top: 5px !important;
  position:absolute;
  left: 120px !important;
}
.worst_box i::before{
  color:  #e6a10f !important;
 box-shadow:0px 2px 30px rgba(0, 0, 0, 0.144);
  font-size: 20px;
  content: '\f560' !important;
  width: 40px !important;
  height: 40px !important;
  font-family: "FontAwesome";
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature_1
{
  display: flex;
  margin-bottom: 15px !important;
  justify-content: center;
  flex-wrap:  wrap !important;
}

/* ===========
process
========== */
#process{
  padding: 50px 0;
  background-color:  rgba(230, 230, 230, 0.918) !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link
{
  border-bottom: 3px solid rgba(131, 128, 128, 0.918) !important; ;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
color:#e6a10f!important;
  border-bottom:3px solid #e6a10f!important;
background: none !important;
margin-right: 10px !important;
}
.navbar .navbar-nav .nav-link:hover {
  border-bottom:1px solid #e6a10f !important;
  transition: 0.5s !important;
} 
.navbar .navbar-nav .nav-link.active{
  border-bottom:1px solid   #e6a10f !important;
  
  color: #e6a10f !important;
}
  

.process_point
{
  font-family: "";
}
.process_point ul
{
  margin: 25px 0 !important;
}
.process_point ul li{
  line-height: 35px !important;

}

.icons::before
{
  font-family: "FontAwesome";
  color: #f6fa00 !important ;
 	content: "\f560" !important;
  height: 100px !important;
  width: 100px !important;
 


}
.custom_tab li a
{
    margin: 0 50px ;
    color:  black !important;

}
.nav
{
  justify-content: space-around !important;
}
.custom_tab
{
  display: flex;
  flex-direction: column;
  line-height: 30px !important;
  margin: 10px 0 !important;
}
.custom_tab  ul
{
  padding: 0 !important;
}
.port_image img
{
max-width: 100%;
}
/* ===
product
=== */
.project_conatainer
{
  padding:50px 0 !important; 
}

/* .project_content
{
  padding: 25px 0;
} */
.project_heading
{
  text-align: center !important;
}
/* ===========
testinomial
=========== */
#testinomial
{
  padding: 50px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color:  rgba(230, 230, 230, 0.918) !important;
}

.swiper-slide
{
  text-align: start !important;
  
}


.test_image img{
  max-width: 90px;
  position: absolute !important;
  object-fit: contain;
  left: -70px;
  bottom: 130px !important;
  border: 5px solid  #fff !important;

}
.review-box
{
  position: relative;
  width: 450px !important;
  margin: 0 70px !important;
}
.project_content
{
  margin-top: 25px 0 !important;
  padding: 0 5px !important;
}
.media
{ 
  display: flex;
  flex-direction: column;
}
.user-post
{
  font-size: 15px;
  color: gray;
}
.por
{
  position: relative !important;
}
.swiper-testimonial {
  padding: 100px 20px;
  padding-top: 30px;
}
.review-box {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.review-box .quote {
  position: absolute;
  width: 40px;
  right: 10px;
  bottom: 10px;
}
.read
{
  padding: 20px 0 !important;
}
.test_content
{
padding: 25px 0 !important;
}
.review-box{
  background-color: #FFF !important;
  padding: 25px 25px !important;
}

/* ======
blogs
====== */
.blog_container
{
  padding: 50px 0;
}
.card_color
{
  color: var(--global-yellow);
  margin: 2px 4px !important;
}
.card-text
{
  color: grey !important;
  margin-top: 25px !important;
}
.blog_card
{
  padding: 50px 0;
}
.read_more
{
  color: grey;

}
/* =======
footer
======= */
#footer
{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url('/assets/img/footer-bg.jpg');
  background-size: cover;
  background-position: revert;
  padding-top: 50px 0 !important;
  color: #FFF;
}
.footer_conatiner
{
  padding: 50px 0;
}
.social_links
{
  display: flex;
  justify-content:flex-start !important;
}

.footer_content
{
  display: flex !important;
  justify-content: space-between;
  align-items: flex-start !important;

}
/* .common_footer 
{
  text-align: center;
} */
.common_footer  p
{
  margin: auto!important;
 
 

}
.common_footer ul li
{
  line-height: 40px !important;
  display: flex;
  justify-content: flex-start !important;
  color: rgba(255, 255, 255, 0.6) !important;

}
.details p{
  line-height: 30px;
  padding: 0 !important;
  margin: 0 !important;
}
.tabs_2 .head
{
 padding-right: 30px !important;
}
.footer_icon 
{
  background-color: rgba(255, 255, 255, 0.1);
  color:#FFF !important;
  display: flex ;
  justify-content: center !important;
  align-items: center !important;
    width: 40px;
  height: 40px;
  opacity: 0.4;
  z-index: 99;
  
  margin: 10x !important;
}
.footer_icon i
{
font-size: 25px;
font-weight: 500;
}
.footer_content .social_links a
{
  color:#fff !important;
}
/* .footer_icon:hover
{
  transition: all 0.5ms ease-in-out;
background-color : #f6fa00 !important; 
} */
.footer_content .social_links a:hover
{
  background-color: rgb(235, 212, 11) !important;
}
.copy_right
{
  margin-top: 25px;
  text-align: center;
}
.copy_right p
{
  margin-bottom: 0 !important;
} 


/* =================
about
==================== */
.about_section 
{

background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('/assets/img/breadcrumbs-bg.jpg'); 
width:100%;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 50vh;
position: relative;

}
.aboutbanner_haeding
{
  display: flex  !important;
  justify-content: center !important;
  align-items: center;
  color: #FFF !important;
}
.aboutbanner_haeding h1
{
  font-size: 3.5rem !important;
}
.story
{
  padding: 50px 0;
  overflow: hidden !important ;
}

.story .about-img {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}
.story .about-img {
  height: 100%;
  min-height:600px !important;
  background-size: cover !important;
  background-position: center !important;
}


.story_image 
{
background-image: url('../assets/img/about.jpg');
min-height: 600px!important;
background-position: center !important;
background-size: cover;

}
 .story_imagimg
{
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;

}

.story_content h2{
  max-width: 65%;
 margin: 0 0 80px 0;
 font-size: 48px;
    font-weight: 700;
    margin: 30px 0;
}
.our_story
{
  background-color: rgba(240, 240, 240, 0.712) !important;
  padding: 25px;
  width: 700px !important;
  padding-right: 200px !important;
}

.est_date
{
  font-size: 16px !important;
  padding: 5px 0;
}
.about_point ul li
{
  line-height: 40px ;
}
.about_point ul li::before
{
 
  font-family: "FontAwesome";
 	content: "\f058" !important;
  color: var(--global-yellow);
  height: 100px !important;
  width: 100px !important;
  margin-right: 2px !important;
}
.play a
{
  color: #f6fa00;
  width: 500PX;
}
.play::before
{
  font-family: "FontAwesome";
 	content: "\f144" !important;
  color: var(--global-yellow);
  margin: 10px 0 !important;
margin-right: 3px !important;

}
/* counting */
.counting_projects{
  background-color: rgba(240, 240, 240, 0.712) !important;;
  margin: 50px 0;
}
.custon_card
{
  padding: 25px!important;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
 
}
.single
{
  width: 300px;
  margin-right: 5px !important;
  height: 150px;
  background-color: #FFF;
}
.single i::before
{
  content: "\f118";
  font-family: "FontAwesome";
  font-size: 60px !important;
  color: #f6fa00;
}
.content
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.content_image
{
  height: 150px !important;
  width:170px !important;
}
.content_image img
{
width: 100% !important;
border-radius: 100% !important;
}
.team_contetnt
{
  text-align: center;
  margin-top: 20px !important;
}
/* service page */
.servicebanner_heading
{
  position: absolute;
  top: 150px!important;
  right:560px !important;
  color: #FFF  !important;
}
.sevice_section_1
{
  padding: 50px 0 !important;
  background-color: rgb(236, 236, 236) !important;
}
.servive_vale
{
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap !important;
}
.service_list
{
  padding-left:14px !important;
  font-size: 15px !important;
  font-weight: 300 !important;
}
.service_list i::before
{
  content: "\f00c";
  position: absolute;
  color: #e6a10f !important;
  right: 260px !important;
  padding: 8px !important;
  border: 2px double;
  border-radius: 50% !important;

}
.service_feature
{
  padding: 50px 30px !important;
}
.content_service
{
  position: relative;
  padding-right: 40px!important;
}
/* conatct */
.conatct_conatiner
{
  padding: 50px 0 !important;
}
.conatct_content
{
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap  !important;
}
.adress_card
{
background-color: #FFF;
box-shadow:0px 2px 30px rgba(0, 0, 0, 0.144);
padding: 25px 25px !important;
display: flex !important;
flex-direction: column;
text-align: center;


}
.fa-map:before
{
  color: #e6a10f;
  border:2px dotted  #e6a10f !important;
  font-size: 30px !important;
  border-radius: 50px;
  padding: 10px !important;

}
.address_content
{
  display: flex !important;
  flex-direction: column !important;
}
.map_conatct iframe{
  margin-top: 25px;
  border:2px solid #FFF;
  width: 100%;
  height: 500px !important;
}
.others
{
  padding: 0 10px !important ;
}
.grey_text
{
  color:rgb(18 18 18 / 66%);
}
.contact
{
  margin-top: 25px !important;
box-shadow:0px 2px 30px rgba(0, 0, 0, 0.144) !important;
}
.custom_form 
{
  display: flex;
  justify-content: space-between;

}
.custom_form_input
{

    width: 97% !important;
    padding: 0.375rem 0.19999rem !important;
}
.custom_card
{
  margin: 50px 25px  !important;
}
/* service */
.service
{
padding: 25px 0 !important;
}

.project_custom a
{
color:black !important;
}
/* projects */
.project_image img
{
  max-width: 100% !important;
}
.process_page{
color: #FFF !important;
padding: 50px 0 !important;
}
 .nav-pills a
 {
color: black  !important;

 }
 .test_contyent
 {
  padding: 50px 0 !important  ;
 }
 .nav-pills
 {
  justify-content: center !important;
 }
 .nav-pills li
 {
  margin-right: 30px !important;
 }
  .nav-pills li a:active
 {
  color: #e6a10f !important;
 }