@import url('https://fonts.googleapis.com/css2?family=Poppins,raleway-regular,Raleway,opensans-bold:wght@100;200;300;400;500;600;700&display=swap');

*,*::after,*::before
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 63.5%;
}
body
{
    font-family: 'Poppins', sans-serif;
}

/* ###############################utility-class################## */
.container
{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}
.btn
{
    display: inline-block;
    padding:1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    margin-top: 2em;


}
.btnwhite
{
    border: 2px solid #FFF;
}
.orange
{
    width: 70px;
    height: 2px;
    background-color:#f26f0f;
    margin: 20px 0;
}
.grey_line
{
    width: 100%;
    height: 2px;
    background-color:#86878B
}
/* ############################header-style################################ */
/* .navbar-nav,.nav-item.navbar-light .navbar-nav .navbar-brand .navbar-light .navbar-brand{
color: #fff !important;

} */
.header
{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header-conatiner
{
    height: 65px;
    background-color: black;
}
.axitnavbar
{
    margin:8px 0;
}
.nav-item
{
list-style: none;
font-size: 1.5rem;
margin-left: 1.5rem;

}
.nav-link  
{
    color: aliceblue !important ;
}
/* ###########################banner-styling############################ */
.banner
{
    background-image: linear-gradient(rgb(0, 0, 0,0.5215686274509804),rgba(7, 0, 0, 0.507)),url('/images/image.png');
    height: 70vh;
 
    padding: 50px 0;
    background-position: center;
    background-repeat: no-repeat;
 
}
.banner_content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 50px;
    margin: auto;
  
   
   
}
.banner_content .second
{
color: #f26f0f;
font-weight: 300;

}
.banner_content .first
{
color: #FFF;

}
.banner_content h1
{
    font-size: 6rem;
}
.banner_content h2 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 300;
}
.banner_content p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 300;

}
#para_banner
{
    padding: 0 165px;
}
.btnwhite p{
    margin: 5px 25px;
    color: #FFF;
}
.banner_sub2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:  center;
    align-items: center;
}

.social
{
    background-color:rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
   
    width: 100%;
    
    padding: 10px 200px;

}
.social_image img
{
    width: 100%;
}
.social-container 
{
    box-sizing: border-box;
}

.social_text p
{
    color: #86878B;
   
}
.feature1
{
   
    background-color: rgba(245, 245, 245, 1);
    margin-top: 25px !important;
}
#feature_container
{
   display: flex !important; 
   padding: 50px 0;
   justify-content: center;
   align-items: center;
   padding: 50px 100px;
   
}
.box
{
    height: 80px;
    width: 80px;
    margin: -27px 0;
    box-sizing: border-box;
 
    
}
.box_1
{
    background-color: #f26f0f;
}
.box_2,.box_3
{
    background-color: #32343d;
}
.bold_para
{
    color: #FFF;
    font-weight: 700;
    text-align: center;
    margin: 30px 20px;
}
.btnorange
{
    background-color: #f26f0f;
}
.btnorange p{
    margin: 5px 25px;
    color: #FFF;
}
.mid_col
{
    display: flex;
    flex-direction: column;
  
    padding: 0 82px;
 

}
.mid_col_head p
{
font-weight: 700;
font-size: 1.4rem;
}
.mid_col_content
{

color: #86878B;

margin: 15px 0;
}
.right_image
{
    width: 240px;
}
.btn_width
{
    width: 100px;
    margin: 25px 0;
    text-align: center;
}
.right_image img{
    width: 100%;
}
/* #######################################feature2############################# */
.feature2
{
margin-top:50px;
background-color: #FFF;

}
.feature2_conatiner
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature2_img 
{
    padding:60px 60px ;
}
.feature2_img img
{
    width: 100%;
}
.feature2_content
{
    margin-bottom:60px;
}
.feature2_content1
{
   display: flex !important;
  

}
.feature2_content2
{
    display: flex !important;
 
}
.feature2_title
{
    font-size: 1.5rem;
    font-weight: 700;
}
.title_content
{
    margin: 20px 5px;
    padding-right: 190px;
}
.subhead
{
    font-size: 600 !important;
    font-weight: 1.2rem !important ;
}
.imgsize
{
    margin:1px 10px;
}
.feature2_subcontent
{
    padding-right: 190px;
}
.feature2_content p
{
color: #86878B;
}
.feature_3
{
    margin-top: 50px;
     background-color: rgb(245, 245, 245, 1);

}
.feature_3_container
{
   padding: 50px;
   display: flex;
    justify-content: center;
    align-items: center;
}
.feature_3head
{
 font-size: 1.8rem;
 font-weight: 700;   
 display: flex;
}
.feature3_content
{
   
    color: #86878B;
    padding-right: 150px;
}
.faeture3_image 
{
    padding:60px 60px ;
}
.faeture3_image img{
    width: 100%;
}
.feature3_text
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}
.feature3_content p
{
    line-height: 18px;
}
.process
{
    margin-top: 50px;

}
.process_container
{
    padding: 50px 50px;
}
.process_sub1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.process_sub1 h2{
    font-family: raleway-regular;
    font-size: 2.7rem;
}
.process_sub1 p{
    color:#86878B
}
.process_sub2
{
    display: flex;
    justify-content: space-evenly;
}
.process_sub2 img{
    width: 100%;
}
.process_common
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.common_img
{
    width: 20px;
    margin: 10px 0;
}
.wrong
{
    padding: 2px 0;
}
.process_sub2 h5
{
    font-family: opensans-bold;
    font-size: 1.8rem;
    font-weight: 600;
}
.process_common p{
    color: #86878B;
    padding: 5px 63px;
}
/* 
#######################pricing############################ */
.pricing
{
    margin-top: 50px;
    background-color: rgb(245, 245, 245, 1);
}
.pricing_container
{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 50px;
  
}
.card_head_last
{
    padding: 2px 0;
    border-bottom: 2px solid #f26f0f;
}
.orange_border
{
    background-color: #f26f0f;
    color: #FFF;
    font-family: opensans-bold;
    padding: 5px 5px;
}
.orange_border p{
    margin-bottom: 0;
}
.card_2
{
z-index: 99;
padding: 0 10px;
}
.card_3 
{
z-index: 90;
margin-top: 10px;
}
.card_1
{
    z-index: 90;
    margin-top: 10px;
}
.card_head p
{
padding: 10px 5px;
margin-bottom: 0;
}

.cards
{
    background-color: #2c2d30;
    text-align: center;
    color: #FFF;
    
   

}
.big
{
    font-size: 4rem;
    font-weight: 700;
}
.small
{
    font-size: 2rem !important;
}
.card_content
{
    background-color: #FFF;
}
.feature_cont
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 5px;
    
}
.feature_cont li
{
    color: #86878B;
    list-style: none;
}
/* ########################TESTIMONIAL */
.testimonial_container
{
    margin-top: 50px;
    padding: 50px 50px;
}
.sub_testinomial
{
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
    padding: 0 65px;

}
.test_content
{
    background-color: #cdcfd6;
    color: #86878B;
    padding: 15px 15px;
}
.test_image_content
{
    display: flex;
    margin: 10px 5px;
    
}
.testimage
{
    width: 30px;
    margin: 2px 5px;

}
.testimage img{
    width: 100%;
}
.testinomial_cards
{
    margin: 0 40px;
}
.cont p
{
color: #86878B;
}
#CUSTOM
{
    background-image: url("/images/custom.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    margin-top: 50px;
    padding: 50px 50px;
    
}
.custom_sub1
{
    color: rgb(7, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.custom_sub1 h2{
 
    font-family: raleway-regular;
    font-size: 2.3rem;

}

/* ##########################conatact##################### */
.conatact
{
    margin-top: 50px;
}
.contact_heading
{
    font-family: raleway;
    font-weight: 300;

}
/* footer */
.footer
{
    background-color: #000000;
}

.footer_conatainer
{
    margin-top: 50px;
    padding: 0 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.footer_image 
{
    width: 25%;
    padding: 5px 0;
    
}
.footer_image img{
    width: 100%;
}
.footer_text
{
    color: #FFF;
    margin: 5px 0;

}

/* ####################FORM#################### */
.form_1
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 120px;
}
input
{
    margin: 10px !important;
}
textarea
{
    width: 70%;
    margin: 10px !important;
}

/* ###############################media-query################### */
@media(max-width:768px)
{
    .header
    {
        opacity: 0.95;
    }
    .header-conatiner,.navbar-toggler-icon,.navbar-toggler-icon
    {
        display: block;
    }
    .header-conatiner{
        display: block;
        position: relative;
        height: 60px;
    }
  
        .hamburger
        {
            
            display: block;
             height: 30px; 
             width: 40px; 
             position: absolute; 
             top: 15px;
            right: 20px;
             z-index: 5;   
              display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    

    .hamburger .line{
        width: 35px;
        height: 1px;
        font-weight: 400;
        color: #FFF;
        background-color: #f26f0f;
        display: block;
        margin: 0.5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      
      .hamburger:hover{
        cursor: pointer;
      }
      
      /* ONE */
      
      #hamburger-1.is-active .line:nth-child(2){
        opacity: 0;
      }
      
      #hamburger-1.is-active .line:nth-child(1){
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
      }
      
      #hamburger-1.is-active .line:nth-child(3){
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
      }
      

 
    .header.navbar-nav
   {
    padding-top: 100px;
    background-color: #FFF;
    height: 100vh;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    transform: translate(-150px);
    margin-left: -40px;
    padding-left: -40px;
    transition: transform 0.5s ease-in-out;
   } 
.nav-item
{
    margin-left: 0;
}
   .navbar .navbar-nav li
   {
   
    font-size: 2rem;
    font-weight: 500;

   }
   .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background: #2c2d30;
    padding: 20px;
    margin-top: 18px;
}

/* #####################feature1######## */
#feature_container
{
    flex-direction: column;
    align-items: stretch;
}
.boxes
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mid_col
{
   padding: 50px 10px;
   justify-content: center;
   align-content: center;
}
.feature2_conatiner
{
    display: flex;
    flex-direction: column;
}
.feature2_img
{
    width:100% !important;
}
.feature2_content
{
    width: 100% !important;
}
.feature2_content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.title_content
{
    margin: auto;
    padding: 5px 50px;
}
.feature2_subcontent
{
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}
.feature2_img
{
    padding: 0;
}
.feature2_conatiner
{
padding: 50PX;
}
.feature2_content
{
        margin-bottom: 0;
}
.process_container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.process_sub2
{
    flex-direction: column;
    flex-wrap: wrap;
    
}
.pricing_container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card_1,.card_2,.card_3
{width: 100% !important;
    padding: 10px 25px;

}
.sub_testinomial
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#para_banner
{
    padding: 0;
    margin: 5px 0;
}
.banner_sub2
{
    margin: 20px 20px;
    padding: 0 20px;
}
.footer_image
{
width: 75%;
}
.social-container 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.social_text 
{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.social_image
{
    width: 100%;
    display: flex;
    justify-content: center;
}
}
/* #############for small screen############# */
@media (max-width:430px)
{
    html{
        font-size:60%
    }
    .banner-container
    {
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .social-container 
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .social_text
    {
        width:100% !important;
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .social-container 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.social_text 
{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.social_image
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#feature_container
{
    flex-direction: column;
    align-items: stretch;
    padding: 50px 0;
}
.boxes
{
    display: flex;
    justify-content: space-between;
    margin:10px;
    align-items: center;
}
.social
{
    padding: 25px 5px;
}
.social_image
{
    display: flex;
    margin:auto;
    width: 90% !important;
    align-items: center;
}
.social_image img
{
    width: 100%;
}
.right_image
{
    margin: auto;
}
.mid_col
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px !important;
    padding: 0 45px;


}
.testinomial_cards
{
margin: 0;
}
.process_sub1
{
    padding: 0 45px;
}
.process_sub1 h2
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature2_title
{
    width: 100%;
    text-align: center;
}
}
