@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
a{
  text-decoration: none !important;
  outline: none !important;
  color:rgba(255, 255, 255, 0.6) !important;
}
a:hover{
  color: #FFF !important;
}


ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
       font-family: 'Poppins', sans-serif;
}


h1 {
     font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

/* ========1rem =16px====== */

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

:root
{
  --global-yellow: #f6fa00;
}

/* ############ utlity###################### */
.yellow_dot
{
    width: 5px;
    display: inline-block; 
    margin: 0px 2px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--global-yellow);
    color: var(--global-yellow);
}
.yellow_btn
{
    background-color:var(--global-yellow);
    color: #FFF;
    text-align: center;
    border-color: #f6fa00;
    width: 150px;
    height: 40px;
    outline:var(--global-yellow) !important;
    border-radius: 5px;
}

/* 
================================
header-section
================================ */


.navbar-brand 
{ 
    color:#FFF !important;
    font-weight: 700;
}

.swiper {
 
    height: 80vh;
    z-index: 1000;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    z-index: 10000;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    z-index: 1000;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-button-prev,.swiper-button-next
  {
    color:#FFF;
    background-color:  rgba(255, 255, 255, 0.185);
    border-radius:90%;
    z-index: 1000;
     width: 55px;
    height: 55px;

 
    
  }
  .swiper:before {
    content: '';
    display: block;
    width: 100%;
    height: 90vh;
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.24),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    background: -webkit-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar
{
  position: absolute;
  z-index: 999;
}
 
 .nav-link {
  font-size: 1.3rem !important;
}
  .navbar-brand
  {
    font-size: 1.5rem !important;
  }

.header_section
{
  z-index: 100000 !important;
  position: absolute;
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0;
}

  /* =================
  Contract-section
====================== */
.card_padding
{
  padding: 25px 25px;
  min-height:600px;
}
#contract_section
{
    background-color: rgba(230, 230, 230, 0.918) !important;
}
.contract_conatiner
{
    padding: 50px 0;
}
.contract_conatent
{
    padding: 0 25px;
}
/* construction-section */
.construct_conatiner
{
  padding: 50px 0;
}
.constrution_heading
{
  display: flex;
  margin: auto;
text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.constrution_heading p{
  padding: 0 25px;
}

.bg_image
{
  min-height: 330px;
  max-width: 100%;
  background-size: cover;
  background-position: center;
}
.card_content
{
    display:flex ;
    justify-content:center ;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
}
.card-img
{
  min-height: 330px;
  max-width: 100%;
}
.service_cards
{
    display: flex;
    justify-content: center;

}
.cards_show
{
  display: flex;
  
}
.card_content,.card_body
{
  padding: 2rem 2rem !important;
}
/* ===========================
services
========================== */
#services
{
  background-color: rgba(230, 230, 230, 0.918) !important;
}
.service_container
{
  padding: 50px 0 !important;
}
.service_card
{
  padding: 25px 25px !important;
}
.font_icon
{
  font-size: 40px !important;
  padding-left: 20px !important;
}