@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*,*::after,*::before
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 63.5%;
}
body
{
    font-family: 'Poppins', sans-serif;
}
/* ###############################utility-class################## */
.container
{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}
.btn
{
    display: inline-block;
    padding:1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    margin-top: 2em;


}
.btnwhite
{
    border: 2px solid #FFF;
}
.orange
{
    width: 70px;
    height: 2px;
    background-color:#f26f0f;
    margin: 20px 0;
}
/* ############################header-style################################ */
/* .navbar-nav,.nav-item.navbar-light .navbar-nav .navbar-brand .navbar-light .navbar-brand{
color: #fff !important;

} */
.header
{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.header-conatiner
{
    height: 65px;
    background-color: black;
}
.axitnavbar
{
    margin:8px 0;
}
.nav-item
{
list-style: none;
font-size: 1.5rem;
margin-left: 1.5rem;

}
.nav-link  
{
    color: aliceblue !important ;
}
/* ###########################banner-styling############################ */
.banner
{
    background-image: linear-gradient(rgb(0, 0, 0,0.5215686274509804),rgba(7, 0, 0, 0.507)),url('/images/image.png');
    height: 70vh;
 
    padding: 50px 0;
    background-position: center;
    background-repeat: no-repeat;
 
}
.banner_content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 50px;
    margin: auto;
  
   
   
}
.banner_content .second
{
color: #f26f0f;
font-weight: 300;

}
.banner_content .first
{
color: #FFF;

}
.banner_content h1
{
    font-size: 6rem;
}
.banner_content h2 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 300;
}
.banner_content p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 300;

}
#para_banner
{
    padding: 0 165px;
}
.btnwhite p{
    margin: 5px 25px;
    color: #FFF;
}
.social
{
    background-color:rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
   
    width: 100%;
    border: 2px solid black;
    padding: 10px 200px;

}
.social-container 
{
    box-sizing: border-box;
}

.social_text p
{
    color: #86878B;
   
}
.feature1
{
   
    background-color: rgba(245, 245, 245, 1);
    margin-top: 100px !important;
}
#feature_container
{
   display: flex !important; 
   padding: 50px 0;
   justify-content: center;
   align-items: center;
   
}
.box
{
    height: 80px;
    width: 80px;
    margin: -27px 0;
    box-sizing: border-box;
 
    
}
.box_1
{
    background-color: #f26f0f;
}
.box_2,.box_3
{
    background-color: #32343d;
}
.bold_para
{
    color: #FFF;
    font-weight: 700;
    text-align: center;
    margin: 30px 20px;
}
.btnorange
{
    background-color: #f26f0f;
}
.btnorange p{
    margin: 5px 25px;
    color: #FFF;
}
.mid_col
{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    box-sizing: border-box;

}
.mid_col_head p
{
font-size: 700;

}
.right_image img{
    width: 100%;
}
/* #######################################feature2############################# */
.feature2
{
margin-top:100px;
background-color: #FFF;

}
.feature2_conatiner
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature2_img 
{
    padding:60px 60px ;
}
.feature2_img img
{
    width: 100%;
}
.feature2_content
{
    margin-bottom:60px;
}
.feature2_content1
{
   display: flex !important;
  

}
.feature2_content2
{
    display: flex !important;
 
}
.feature2_title
{
    font-size: 1.5rem;
    font-weight: 700;
}
.title_content
{
    margin: 20px 5px;
    padding-right: 190px;
}
.subhead
{
    font-size: 600 !important;
    font-weight: 1.2rem !important ;
}
.imgsize
{
    margin:1px 10px;
}
.feature2_subcontent
{
    padding-right: 190px;
}
.feature2_content p
{
color: #86878B;
}
.feature_3
{
    margin-top: 100px;
     background-color: rgb(245, 245, 245, 1);

}
.feature_3_container
{
   padding: 50px;
   display: flex;
    justify-content: center;
    align-items: center;
}
.feature_3head
{
 font-size: 1.8rem;
 font-weight: 700;   
 display: flex;
}
.feature3_content
{
   
    color: #86878B;
    padding-right: 150px;
}
.faeture3_image 
{
    padding:60px 60px ;
}
.faeture3_image img{
    width: 100%;
}
.feature3_text
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}
.feature3_content p
{
    line-height: 18px;
}
.process
{
    margin-top: 100px;

}
.process_container
{
    padding: 50px 50px;
}
