@media(max-width:430px)
{
    html{
        font-size:90%
    }
    /* .banner_content
    {
        display: block !important;
    } */
    .contract_conatent
    {
        padding: 0 !important;
    }
    .text_feature
    {
    padding: 0 !important;
    text-align: flex-start !important;
    }
    .common_process
    {
        margin:25px 0 !important;
    }

.custom_tab li a
{
    margin: 0 !important;
}
.footer_content 
{
    display: flex !important;
    flex-direction: column;
}
.common_footer
{
    text-align: start;
    margin-top:10px !important;
}
.test_image img
{

    max-width:90px !important;
  left: 21px !important;
  top: 4px !important;
 
}
.media
{
margin-top: 70px !important;
}

.review-box
{
    position: static !important;
    width: 100% !important;
    margin: 0 !important;

}
.project_content
{
    margin-top:10px !important;
}
.feature_content
{
    padding: 0 10px !important;
}
.squre_box {
    margin-right: 16px !important;
    width: auto !important;
    margin-left: 5px;
    position: static !important;
    height: auto !important;
    padding: 0 !important;
}
.feature_1
{
    display: flex;
justify-content: stretch;
flex-wrap: nowrap  !important;

}
.banner_content
{
    left:0 !important;
    top:130px  !important;
}
.banner_content h1
{
font-size:40px !important;
}
.banner_haeding h1::after
{
    left:130px !important;
}


}
