@media(max-width:430px)
{
    html{
        font-size:90%
    }
    /* .banner_contenh
    {
        display: block !important;
    } */
    .contract_conatent
    {
        padding: 0 !important;
    }
    .text_feature
    {
    padding: 0 !important;
    text-align: flex-start !important;
    }
    .common_process
    {
        margin:25px 0 !important;
    }

.custom_tab li a
{
    margin: 0 !important;
}
.footer_content 
{
    display: flex !important;
    flex-direction: column;
}
.common_footer
{
    text-align: start;
    margin-top:10px !important;
}
.test_image img
{

    max-width:90px !important;
  left: 21px !important;
  top: 4px !important;
 
}
.media
{
margin-top: 70px !important;
}

.review-box
{
    position: static !important;
    width: 100% !important;
    margin: 0 !important;

}
.project_content
{
    margin-top:10px !important;
}
.feature_content
{
    padding: 0 10px !important;
}
.squre_box {
    margin-right: 16px !important;
    width: auto !important;
    margin-left: 5px;
    position: static !important;
    height: auto !important;
    padding: 0 !important;
}
.feature_1
{
    display: flex;
justify-content: stretch;
flex-wrap: nowrap  !important;

}
.banner_content
{
    left:0 !important;
    top:130px  !important;
}
.banner_content h1
{
font-size:40px !important;
}
.banner_haeding h1::after
{
    left:130px !important;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background: rgba(0, 0, 0, 0.712);
    color: #FFF !important;
    padding: 20px;
    margin-top: 18px;
  }
  .header
  {
      opacity: 0.95;
  }
  .hamburger
{
    
    display: block;
     height: 20px !important;  
     width: 50px; 
     position: absolute; 
     padding:1px;
     z-index: 5;   
     top: 19px;
    right: 5px;
      display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .navbar-toggler {
    background-color: rgba(0, 0, 0, 0.397) !important;
  }
 .navbar-toggler {
      color:rgba(0, 0, 0, .1) !important;
      border-color: rgba(0, 0, 0, .1) !important;
  }
  .navbar-toggler {
    background: rgba(0, 0, 0, .1) !important;
    border: none !important;
    padding: 10px 6px;
    outline: none !important;
  }

.hamburger .line{
width: 27px !important;
height: 3px !important;
font-weight: 400;
color: #FFF;
background-color: rgba(255, 255, 255, 0.938) !important;
display: block;
margin: 2px auto;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}


.hamburger:hover{
cursor: pointer;
}
#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
.feature_image
{
    max-height: 500px;
}
.nav-item
{
    font-weight: 700 !important;
}
}
